page-pesanan-petani {
  .background{
      background: color($colors,twitter);
      background-repeat: no-repeat;
      background-size: cover;
  }

  .toolbar-background {

    background: color($colors,twitter);

}



}
