page-login {
    .background{
        background: linear-gradient(#2387a4, #4aafbe, #73d1da);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .scroll-content{
        text-align: center;
    }
    .ion-card.card{
        // box-shadow: none;
        // background-color: transparent;
        background: rgba(232, 230, 230, 0.5px);
        border-radius: 10px;
    }
    .item{
        background: rgba(232, 230, 230, 0px);
    }
    ion-input{
        border-bottom: #2387a6 solid 1px;
    }

    .warna_login {
        width: 100%;
        margin: 0 auto;
        padding: inherit;
      }
    .warna_button{
      width: 100%;
      margin: 0 auto;
      padding: inherit;
      background: linear-gradient(#2387a4, #4aafbe, #73d1da);
    }


    // a, p,
    // .ion-card-header.card-header{
    //     color: #fff;
    // }

    // .list > .item-block:first-child{
    //     border: medium none;
    // }
    // .item{
    //     margin-bottom: 10px;
    //     background: rgba(255, 255, 255, 0.5);
    //     border: medium none;

    //     .text-input, {
    //         color: #fff;
    //     }

    //         input::-moz-placeholder{
    //             color: #fff/important;
    //         }
    //         input:-moz-placeholder{
    //             color: #fff/important;
    //         }

    //         *::-webkit-input-placeholder{
    //             color: #fff/important;
    //         }

    //         *:-ms-input-placeholder{
    //             color: #fff/important;
    //         }
    //         *:-moz-placeholder{
    //             color: #fff/important;
    //         }
    //     }
    //     .bottom{
    //         position: absolute;
    //         bottom: 0;
    //     }
    }
