page-login {
    .background{
        background: linear-gradient(#2387a4, #4aafbe, #73d1da);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .scroll-content{
        text-align: center;
    }
    .ion-card.card{
        // box-shadow: none;
        // background-color: transparent;
        background: rgba(232, 230, 230, 0.5px);
        border-radius: 10px;
    }
    .item{
        background: rgba(232, 230, 230, 0px);
    }
    ion-input{
        border-bottom: #2387a6 solid 1px;
    }

    .warna_login {
        width: 100%;
        margin: 0 auto;
        padding: inherit;
      }
    .warna_button{
      width: 100%;
      margin: 0 auto;
      padding: inherit;
      background: linear-gradient(#2387a4, #4aafbe, #73d1da);
    }
    }
